
#head{
    margin-top: 50px;
display: flex;
justify-content: center;
align-items:center;
gap: 3em;
}

.head-1 {
    text-transform: uppercase;
    font-weight:bolder ;
    font-size: 2.8em;
    font-family: 'Merriweather', serif;
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
   
}

.head-2{
    font-family: 'sans-serif';
    letter-spacing: 2px;
   
}

