@keyframes fade {
  0% {
    transform: translateX(100px);
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fixednav {
  @apply z-[9999]  fixed top-0  shadow-sm   opacity-95 backdrop-blur-lg;
}

.nav {
  font-family: "Orbitron", sans-serif;
  animation: fade 0.7s ease-in-out alternate both;
  transition: all;
}
.btn {
  letter-spacing: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-size: 300%;
  transition: 0.8s;
  color: var(--black);
  background-image: linear-gradient(
    160deg,
    rgba(1, 1, 1, 0) 50%,
    var(--black) 50%
  );
}

.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

#nav .btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

#dark-toggle:checked ~ label div .toggle-circle {
  /* transition: 0.3s ease-in-out; */

  @apply translate-x-10;
}

@media screen and (max-width: 600px) {
  #nav {
    /* position:absolute; */
    /* flex-direction: column; */
  }
  a,
  button {
    /* transform: translateX(100%); */
  }
  #nav::before {
    /* content: 'My Portofolio';
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 4px;
        text-align: center;
        position: sticky; */
  }
}
