.img-overlay {
    position: relative;
  width: 21rem;
  border-radius: 1em;
  overflow: hidden;

  }

  
  .img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.6);
  }
  
 
  .img-overlay:hover .overlay {
    opacity: 1;
  }
  
  .text-header{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-family: sans-serif;
  }

  .text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* text-decoration: underline; */
    color: yellow;
  }