@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Orbitron&family=Yeseva+One&display=swap');
/* font-family: 'Handlee', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Yeseva One', cursive; */
$yellow:#fcde67;
$blue:#5bccf6;
$black:#030e12;
$white:#F8F8F8;
